body {
/*   background-image: url(./imges/Lavanta.png);
background-repeat: no-repeat;
background-position: center right -10rem; */
background-image: url(./imges/daisy.png);
background-repeat: no-repeat;
background-position: bottom right -10rem;
gap: 2rem;

}
.weAre {

  text-shadow: 3px 2px 5px #00a0d2;
  color: black;
  height: 10rem;
  font-weight: bolder;
  gap: 5rem;

}
:root {
  --yellow: #f5c32c;
  --red: #f50c0cf4;
  --orange: #fca61f;
  --blue: #531ffc;
  --black: #242d49;
  --gray: #788097;
  --green: #14ee4a;
  --lightGreen: #6fe07e;
  --lightyellow: #f2e931;
  --red: #d97d7c;
  --lightBlue: #44c6e3;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 10px 10px 10px rgba(27, 235, 72, 0.852);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  overflow: hidden;
  overflow-x: scroll;
  color: var(--black);
}

.button {
  background: linear-gradient(180deg, #13d2effe 26.71%, #0cb1c360 99.36%);
  box-shadow: 0px 10px 14px 3px rgba(99, 52, 165, 0.197);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

.button:hover {
  background: rgb(176, 230, 82);
  cursor: pointer;
  border: 2px solid var(--orange);
  color: var(--orange);
}

@media screen and (max-width: 680px) {
  .App {
    padding: 0.5rem 1rem;
    flex-direction: column;
  }
}
/* work css */
.w-secCircle {
  width: 6rem;
  height: 6rem;
  position: absolute;
  border-radius: 100%;
  border: 5px solid #3a8933fc;
  display: flex;
  align-items: center;
  justify-content: center;
  background: "none";
  box-shadow: var(--smboxShadow);
  background: rgb(255, 255, 255);
}
