/* #footerContainer {
    background-color: #1db82c;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

#footerRow {
    color: black;
}

#footerUl {
    background-color: white;
}

#social-buttons {
    background-color: orange;
    margin-top: 1rem;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerLi {
    height: 22rem;
    width: 22rem;
} */