.farmer-contact-container {
    /* background-color: rgb(118, 255, 80); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#headerCtn {
    background-color: rgb(13, 98, 4) !important;
    width: 100%;
}

#cardDeck {
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: row;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

#card-body {
    display: flex;
    flex-direction: column;
}

#ourProducts{
    background-color: blueviolet;
}

#product-catalog {
    background-color: rgb(51, 170, 51) !important;
    border: none;
    color: white;
    font-size: 12px;
    text-align: justify;
}

.card-text-catalog {
    text-align: justify;
    font-size: 14px;
}