.App {
    text-align: center;
    font-family: "Roboto", sans-serif;
}




/* navbar */

.navbar {
    border-top: #165c1c solid 5px;
    background-color: #1DB82C !important;
    padding-left: 80px;
    border-bottom: rgb(0, 0, 0) solid 5px !important;
}

#navbarNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 80px;
}

.navbar-brand {
    display: flex;
    color: white !important;
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: rgb(211, 195, 166) !important;
}

.navbar {
    background-color: #1db82c !important;
    padding-left: 80px;
    border-bottom: rgb(204, 187, 187) solid 5px !important;
    box-shadow: 3px 5px 10px #bda4a4;
    margin-bottom: 10px;
}

.nav-link {
    display: flex;
    color: rgb(250, 250, 250) !important;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: rgb(211, 195, 166) !important;
}

.btn btn-success {
    padding-top: 30px;
}

bs-example {
    width: 50%;
}


/* map */

.googleMap {
    box-shadow: 3px 5px 10px #bda4a4;
    margin-bottom: 10px;
}

.form-control2 {
    margin-left: 50px;
}


.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}
 

/*  search starts */

#map {
    /* position: relative; */
    left: 25%;
    top: 0;
    bottom: 0;
    width: 75%;
    /* display: flex; */
}

.map-overlay {
    /* position: absolute; */
    width: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #efefef;
    max-height: 100%;
    overflow: hidden;
}

.map-overlay fieldset {
    display: none;
    background: #ddd;
    border: none;
    padding: 10px;
    margin: 0;
}

.map-overlay input {
    display: block;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

.map-overlay .listing {
    overflow: auto;
    max-height: 100%;
}

.map-overlay .listing>* {
    display: block;
    padding: 5px 10px;
    margin: 0;
}

.map-overlay .listing a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #404;
    text-decoration: none;
}

.map-overlay .listing a:last-child {
    border: none;
}

.map-overlay .listing a:hover {
    background: #f0f0f0;
}


/*  search ends */