.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


/*UMA*/


/* Carousel styling */

.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.navbar{
    background-color: #1DB82C !important;
    padding-left: 80px;
    border-bottom: rgb(0, 0, 0) solid 5px !important;
}

.navbar-brand{
    display: flex;
    color: white !important;
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand:hover{
    color:rgb(211, 195, 166) !important;
}

.nav-link{
    display: flex;
    color: rgb(250, 250, 250) !important;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-link:hover{
    color:rgb(211, 195, 166) !important;
}

#navbarNav{
    display: flex;
    flex-direction: column;  
}

.container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.btn btn-success {
    padding-top: 30px;
}

bs-example {
    width: 50%;
}


/* footer  */
.footerContainer{
    background-color: #1DB82C !important; 
    border-bottom: #165c1c solid 50px;
    color: rgb(5, 5, 5);
    font-size: small;
    padding-top: 35px;
}

/* .overlayFooter{
    background: url("./assets/slidecarabao.jpg");
    background-size: cover;
} */

.footer-title{
    color: rgb(10, 10, 10);
    font-size: 18px;
    font-weight: bold;
}

.nav-link{
    color: black !important;
    font-size: small;
    justify-content: center;
}


/* 
#1DB82C-Navbar & Footer color */
